@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Página: Inscrições nas Turmas */

ul[id^="list_"] {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    margin: 0;
    
    display: grid !important;
    flex-wrap: wrap;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;

    transition: opacity 0.3s ease-in, height 0.2s ease-out;

    br {
        display: none;
    }

    > li {
        list-style-type: none;
        width: fit-content;
        background: whitesmoke;
        padding: 0.8rem;
        border-radius: 8px;
        width: 100%;

        ul {
            padding: 0;
            padding-top: 0.4rem;
            display: flex;

            br {
                display: none;
            }

            li {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                padding-right: 1em;

                a {
                    cursor: pointer;
                }
            }
        }
    }
}