.se-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.se-card-expand-button {
    background: inherit !important;
    border: none !important;
    padding: none !important;
    margin: none !important;
    box-shadow: none !important;
}

.se-card-expand-button:hover {
    background: inherit !important;
}

.se-expandable-card-wrapper {
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
