.se-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.se-card-expand-button{
    background: inherit !important;
    border: none !important;
    padding: none !important;
    margin: none !important;
}

.se-card-expand-button:hover{
    background: inherit !important;
}
