.se-icon {
    font-size: 24px;
    line-height: 1 !important;
    display: inline-block !important;
    vertical-align: middle !important;
    background: none !important;
    width: 1em !important;
    height: 1em !important;
    text-decoration: none !important;
}

.se-icon::before {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.se-hidden-icon {
    display: none !important;
}

.se-remove-icon {
    background-image: none !important;
    width: unset !important;
    height: unset !important;
    text-indent: unset !important;
}

.se-remove-icon::before {
    display: none;
    background-image: none !important;
    content: none !important;
    width: unset !important;
    height: unset !important;
}

#infopessoalh:not(.expandido) .colapsar {
    display: none
}

#infopessoalh.expandido .expandir {
    display: none
}

th:after {
    content: "";
    font-family: "remixicon";
    vertical-align: middle;
    padding-left: 0.3rem;
}

th.asc:after{
    content: "\f160";
    font-weight: bold;
}

th.desc:after{
    content: "\f15f";
    font-weight: bold;
}

:is(.barratemporal, .barratemporale, .barratemporald) .se-icon {
    background-color: white !important;
}
