@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* Usefull selectors examples:

  [custom-atribute="CustomValue"] {}

  a[href*="aLinkHere"] {}

*/

/* First Sigarra breakpoint at 1100px */
@media only screen and (min-width: 900px) and (max-width: 1100px) {

}

/* Second Sigarra breakpoint at 900px */
@media only screen and (max-width: 900px) {

}


/* ----------------- HOMEPAGE ----------------- */

#barralocalizacao {
  display: none;
}

#colunaextra img {
  display: none;
}

img.sama {
  display: none !important;
}

.container-fluid .destacar-menor {
  display: none;
}

.container-fluid .encaixar100.portlet-banner-new {
  display: none;
}

p.flex-caption a {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  word-spacing: 0.7em;
  font-family: 'Kanit', sans-serif !important;
}

.ajuda-contextual {
  display: none !important;
}
/* News Section */

.col-md-7 {
  padding-top: 1em;
  background: #f0f0f0;
  border-radius: 1em;
}

.col-md-7 h2 {
  margin: 0 !important;
  font-size: 2em !important;
  border-bottom: 2px solid rgb(140,45,25);
}

.col-md-7 h3 {
  margin: revert !important;
}

.col-md-7 .fa.fa-plus-circle::before {
  font-size: 0.5em;
  content: "\f055  Ler Mais" !important;
  font-weight: bold;
  text-transform: uppercase;
}

.col-md-7 .fa.fa-plus-circle {
  display: block;
  color: white !important;
  padding: 0.35em 0.5em 0.5em 0.5em !important;
  border-radius: 0.5em;
  width: auto;
  max-width: 14% !important;
  position: absolute;
  text-align: center;
  top: 3%;
  right: 3%;;
}

.col-md-7 .novo-portlet-noticias p {
  width: 85%;
}

.col-md-7 .novo-portlet-noticias p a > span{
  float: right;
  background-image: linear-gradient(rgb(140,45,25), rgb(165,45,25));
  background-size: 100% 200%;
  transition: background-position 0.3s;
}

.col-md-7 .novo-portlet-noticias p a > span:hover {
  background-position: 0 -100%;
}

.mais-noticias a {
  color: white !important;
  display: block;
  background-image: linear-gradient(rgb(140,45,25), rgb(165,45,25));
  background-size: 100% 200%;
  transition: background-position 0.3s;
}

.mais-noticias a:link {
  color: white;
  font-weight: bold;
}

p.mais-noticias {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 2em;
  text-transform: uppercase;
  text-align: center !important;
}

p.mais-noticias a:hover {
  color: white !important;
  background-position: 0 -100%;
}




/* Calendar and Events*/

.col-md-5 {
  padding-top: 1em;
}

.col-md-5 h2 {
  margin: 0 !important;
  font-size: 2em !important;
  border-bottom: 2px solid rgb(140,40,25);
}

.mais-eventos a {
  color: white !important;
  display: block;
  background-image: linear-gradient(rgb(140,45,25), rgb(165,45,25));
  background-size: 100% 200%;
  transition: background-position 0.3s;
}

.calendario-inicio {
  padding-top: 1em;
}

.calendario-inicio table {
  width: 100%;
}

p.mais-eventos {
  text-transform: uppercase;
  text-align: center !important;
  padding-left: 1em;
}

.mais-eventos a:link {
  color: white;
  font-weight: bold;
}

.col-md-7.col-sm-6 a:link {
  text-decoration: none;
}

p.mais-eventos a:link, p.mais-eventos a:visited {
  text-decoration: none !important;
}

ul.agenda li {
  border-left: 6px solid rgb(140,45,25) !important;
  background-color: #f0f0f0 !important;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

p.mais-eventos a:hover {
  background-position: 0 -100%;
  color: white !important;
}

.calendario-inicio form {
  display: flex;
  gap: 1em;
}

.calendario-inicio input[type="submit"] {
  width: 30%;
  margin: 0;
  text-transform: uppercase;
  color: white !important;
  background-image: linear-gradient(rgb(140,45,25), rgb(165,45,25)) !important;
  background-size: 100% 200%;
  transition: background-position 0.3s;
}

.calendario-inicio input[type="submit"]:hover {
  background-position: 0 -100%;
}

.calendario-inicio select {
  width: 70%;
  padding: 12px 14px ;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

table.calendtable td.calendevent {
  border-bottom: 2px solid rgb(140,45,25) !important;
}

table.calendtable .calendeventsel {
  background-color: rgb(140,45,25) !important;
  border-color: rgb(140,45,25) !important;
  color: white !important;
}

.calendevent a {
  text-decoration: none !important;
  color: black !important;
}

.calendeventsel a {
  color: white !important;
  text-decoration: none !important;
  font-weight: bold;
}

.calendevent a:hover, .calendeventsel a:hover, .calendeventsel a:visited {
  color: black !important;
  font-weight: bold;
}

.calendtable tbody {
  line-height: 2em;
}


table.calendtable {
  background-color: rgb(240, 240, 240) !important;
  border: 10px solid rgb(240, 240, 240) !important;
  font-family: sans-serif;
}

table.calendtable td {
  color: black !important;
  background-color: rgb(240, 240, 240) !important;
}

table.calendtable th {
  color: black !important;
  background-color: rgb(240, 240, 240) !important;
}

table.calendtable tbody {
  line-height: 2em;
}

table.calendtable .calendfdssel {
  text-align: center !important;
}

table.calendtable:first-child tr:first-child > td:nth-child(2) {
  /* Aligns calendar year */
  text-align: center !important;
}



/* Footer */

.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12 {
  display: none;
}

.col-md-3 {
  padding-top: 1em;
}

#rodape {
  display: none;
}

/* ----------------- POPUP ----------------- */

.popup > table > tbody > tr:first-child, .popup > table > tbody > tr:last-child{
  display: none;
}

.popup td.b{
  display: none;
}
.popup td.body{
  border-radius: 8px;
  padding: 1.5rem !important;
  border: 1px solid #b0b0b0;
  box-shadow: 0px 25px 102px -44px rgb(87 87 87);
}
.popup td.body > .content > h2{
  margin: 0 0 1em 0;
}
.popup td.body > .footer{
  display: none;
}
#facebox{
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
#facebox_overlay{
  opacity: 0.3 !important;
}