@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* Usefull selectors examples:

  [custom-atribute="CustomValue"] {}

  a[href*="aLinkHere"] {}

*/

/* First Sigarra breakpoint at 1100px */
@media only screen and (min-width: 900px) and (max-width: 1100px) {

}

/* Second Sigarra breakpoint at 900px */
@media only screen and (max-width: 900px) {

}


/* Smoother scroll */
html {
	scroll-behavior: smooth;
}

/* Disable smooth scrolling when users have prefers-reduced-motion enabled */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* ----------------- HOMEPAGE ----------------- */

#barralocalizacao {
  display: none;
}

#colunaextra img {
  display: none;
}

img.sama {
  display: none !important;
}

.container-fluid .destacar-menor {
  display: none;
}

.container-fluid .encaixar100.portlet-banner-new {
  display: none;
}

p.flex-caption a {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  word-spacing: 0.7em;
  font-family: 'Kanit', sans-serif !important;
}

.ajuda-contextual {
  display: none !important;
}
/* News Section */

.col-md-7 {
  padding-top: 1em;
  background: #f0f0f0;
  border-radius: 1em;
}

.col-md-7 h2 {
  margin: 0 !important;
  font-size: 2em !important;
  border-bottom: 2px solid rgb(140,45,25);
}

.col-md-7 h3 {
  margin: revert !important;
}

.col-md-7 .ri-add-circle-line::before {
  font-size: 0.5em;
  content: "Ler Mais" !important;
  font-weight: bold;
  text-transform: uppercase;
  width: unset !important;
  height: unset !important;
}

.col-md-7 .ri-add-circle-line {
  display: block;
  font-family: "NoticiaText", serif !important;
  color: white !important;
  padding: 0.2em 0.5em 0.5em 0.5em !important;
  border-radius: 8px;
  width: auto;
  max-width: 14% !important;
  position: absolute;
  text-align: center;
  top: 3%;
  right: 3%;
  width: unset !important;
  height: unset !important;
}

.col-md-7 .novo-portlet-noticias p {
  width: 85%;
}

.col-md-7 .novo-portlet-noticias p a > span{
  float: right;
  background-image: linear-gradient(rgb(110,110,110), rgb(130,130,130)) !important;
  background-size: 100% 200% !important;
  background-position: initial !important;
  transition: background-position 0.3s;
}

.col-md-7 .novo-portlet-noticias p a > span:hover {
  background-position: 0 -100% !important;
}

.mais-noticias a {
  color: white !important;
  display: block;
  background-image: linear-gradient(rgb(140,45,25), rgb(165,45,25));
  background-size: 100% 200%;
  transition: background-position 0.3s;
  border-radius: 8px !important;
  
}

.mais-noticias a:link {
  color: white;
  font-weight: bold;
}

p.mais-noticias {
  width: 40%;
  margin: 0 auto;
  padding-bottom: 2em;
  text-transform: uppercase;
  text-align: center !important;
}

p.mais-noticias a:hover {
  color: white !important;
  background-position: 0 -100%;
}




/* Calendar and Events*/

.col-md-5 {
  padding-top: 1em;
}

.col-md-5 h2 {
  margin: 0 !important;
  font-size: 2em !important;
  border-bottom: 2px solid rgb(140,40,25);
}

.mais-eventos a {
  color: white !important;
  display: block;
  background-image: linear-gradient(rgb(140,45,25), rgb(165,45,25));
  background-size: 100% 200%;
  transition: background-position 0.3s;
}

.calendario-inicio {
  margin-top: 1em;
}

.calendario-inicio .calendtable {
  border-spacing: 1em 0 !important;
}

.calendario-inicio table{
  width: 100%;
}

p.mais-eventos {
  text-transform: uppercase;
  text-align: center !important;
  padding-left: 1em;
}

.mais-eventos a:link {
  color: white;
  font-weight: bold;
}

.col-md-7.col-sm-6 a:link {
  text-decoration: none;
}

p.mais-eventos a:link, p.mais-eventos a:visited {
  text-decoration: none !important;
}

ul.agenda li {
  border-left: 6px solid rgb(140,45,25) !important;
  background-color: #f0f0f0 !important;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

p.mais-eventos a:hover {
  background-position: 0 -100%;
  color: white !important;
}

.calendario-inicio form {
  display: flex;
  gap: 1em;
}

.calendario-inicio input[type="submit"] {
  width: 30%;
  margin: 0;
  text-transform: uppercase;
  color: white !important;
  background-image: linear-gradient(rgb(140,45,25), rgb(165,45,25)) !important;
  background-size: 100% 200%;
  transition: background-position 0.3s;
  border-radius: 8px; 
  border: none;
  font-family: "NoticiaText", serif !important;
  font-weight: bold;
}

.calendario-inicio input[type="submit"]:hover {
  background-position: 0 -100%;
}

.calendario-inicio select {
  width: 70%;
  padding: 12px 14px ;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

table.calendtable td.calendevent {
  border-bottom: 0.2em solid rgb(140,45,25) !important;
}

table.calendtable .calendeventsel {
  background-color: rgb(140,45,25) !important;
  border-color: rgb(140,45,25) !important;
  color: white !important;
}

.calendevent a {
  text-decoration: none !important;
  color: black !important;
}

.calendeventsel a {
  color: white !important;
  text-decoration: none !important;
  font-weight: bold;
}

.calendevent a:hover, .calendeventsel a:hover, .calendeventsel a:visited {
  color: black !important;
  font-weight: bold;
}

.calendtable tbody {
  line-height: 2em;
}


table.calendtable {
  background-color: rgb(240, 240, 240) !important;
  border: 10px solid rgb(240, 240, 240) !important;
  font-family: sans-serif;
}

table.calendtable td {
  color: black !important;
  background-color: rgb(240, 240, 240) !important;
}

table.calendtable th {
  color: black !important;
  background-color: rgb(240, 240, 240) !important;
}

table.calendtable tbody {
  line-height: 2em;
}

table.calendtable .calendfdssel {
  text-align: center !important;
}

table.calendtable:first-child tr:first-child > td:nth-child(2) {
  /* Aligns calendar year */
  text-align: center !important;
}



/* Footer */

.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12 {
  display: none;
}

.col-md-3 {
  padding-top: 1em;
}

#rodape {
  display: none;
}

/* ----------------- POPUP ----------------- */

.popup > table > tbody > tr:first-child, .popup > table > tbody > tr:last-child{
  display: none;
}

.popup td.b{
  display: none;
}
.popup td.body{
  border-radius: 8px;
  padding: 1.5rem !important;
  border: 1px solid #b0b0b0;
  box-shadow: 0px 25px 102px -44px rgb(87 87 87);
}
.popup td.body > .content > h2{
  margin: 0 0 1em 0;
}
.popup td.body > .footer{
  display: none;
}
#facebox{
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
#facebox_overlay{
  opacity: 0.3 !important;
}

/* ----------------- INPUT ----------------- */

input, select{
  border-radius: 8px !important;
  border-color: #cfcfcf !important;
  box-sizing: border-box;
  padding: 0.5rem !important;
  box-shadow: 0px 0px 23px -17px rgba(0,0,0,0.3);
}

select{
  appearance: none;
  /*background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1em;*/
}

input:active, input:focus, select:active, select:focus{
  outline-color: #dc8877 !important;
  outline-width: 5px !important;
}

/* ----------------- COOKIES BAR ----------------- */

#cookie-bar.fixed{
  padding: 0.8rem;
  background: #111111d9;
}

#cookie-bar a.cb-enable{
  background: #842918;
  padding: 0.3rem 0.7rem;
  margin-left: 20px;
}

#cookie-bar a.cb-enable:hover{
  background: #9d3c29;
  color: white !important;
}

#cookie-bar a.cb-policy{
  background: #2b2b2b;
  padding: 0.3rem 0.7rem;
  margin-left: 15px;
}

#cookie-bar a.cb-policy:hover{
  background: #353535;
  color: white !important;
}

/* ----------------- DATE INPUT ----------------- */

.yui-skin-sam table{
  border-spacing: 0.8rem 0.2rem !important;
}

.yui-skin-sam .yui-calcontainer{
  background-color: #fbfbfb !important;
  border: 1px solid #c8c8c8 !important;
  padding: 1rem !important;
  border-radius: 8px;
  box-shadow: 1px 1px 10px #00000014;
}

.yui-skin-sam .yui-calcontainer .title{
  margin: 0 !important;
  background: none !important;
  border-bottom: none !important;
  padding: 0 !important;
}

.yui-skin-sam .yui-calendar a.calnav{
  color: #1A1A1A !important;
  border: none !important;
}
.yui-skin-sam .yui-calendar a.calnav:hover{
  background: none !important;
}

.yui-skin-sam .yui-calendar .calweekdaycell{
  background-color: none !important;
  background: none;
  color: #575757 !important;
}
.yui-skin-sam .yui-calendar td.calcell{
  border: none !important;
  background: none !important;
  border-radius: 8px !important;
  transition: all 0.2s ease-out;
}
.yui-skin-sam .yui-calendar td.calcell:hover{
  background: #1A1A1A !important;
}
.yui-skin-sam .yui-calendar td.calcell:hover a{
  color: #FFFFFF !important;
}
.yui-skin-sam .yui-calendar td.calcell a {
  color: #1A1A1A !important;
  background: none !important;
}

.yui-skin-sam .yui-calendar td.calcell.oom{
  color: #BABABA !important;
  background: none !important;
}

.yui-skin-sam .yui-calendar td.calcell.today{
  background: #F2F2F2 !important;
}
.yui-skin-sam .yui-calendar td.calcell.today a{
  color: #1A1A1A !important;
}

.yui-skin-sam .yui-calcontainer .yui-cal-nav{
  background-color: #f5f5f5 !important;
  border-radius: 8px;
  border: 1px solid #a0a0a0;
  width: fit-content !important;
  align-items: center;
  margin-left: -20% !important;
}

.yui-skin-sam .yui-calcontainer .yui-cal-nav-mc {
  width: auto;
}
div.yui-cal-nav{
  padding: 0.5rem !important;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem;
}

.yui-cal-nav-m, .yui-cal-nav-y, .yui-cal-nav-b{
  padding: 0 !important;
}
.yui-cal-nav-y{
  margin: 0.5rem 0;
}
.yui-cal-nav-b{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 0.5rem;
}
.yui-cal-nav-b{
  grid-column: 1/3;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav label{
  display: none !important;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn.yui-default button{
  background: #1A1A1A !important;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn {
  border: none !important;
  background: none !important;  
  margin: 0 !important;
}

.yui-skin-sam .yui-calcontainer .yui-cal-nav .yui-cal-nav-btn:hover{
  background: none !important;
}

.yui-skin-sam .yui-calcontainer .yui-cal-nav-yc{
  width: 7.5rem !important;
}