.se-teacher-title-bar {
    > h1 {
       margin: 0 !important;
       padding: 0em;
    }
   
    > h3 {
       margin: 0;
       padding-left: 1em;
    }
   
    display: flex;
    align-items: center;
   }
   
   .informacao-pessoal-dados-foto {
    float: none !important;
   
    > img {
       border-radius: 8px;
    }
   }
   
   .se-publication-website-button {
    display: block;
    background-color: #F4F4F4;
    width: fit-content; 
    height: fit-content;
    padding: 5px 10px;
    margin-bottom: 1em;
    border-radius: 8px;
    cursor: pointer;
   
    &:active {
       background-color: #dddada;
    }
   
    > img {
       display: inline-block;
       height: 25px;
    }
   
    > p {
       display: inline-block;
       font-size: medium;
       padding: 0;
       margin: 0;
       padding-left: 1em;
    }
   }
   
   .informacao-pessoal-apresentacao {
    margin-top: 2em;
    box-shadow: none !important;
    border: none !important;
    margin-left: 0 !important;
    background-color: #F4F4F4 !important;
    border-radius: 8px;
   
    > h3 {
       margin: 1em 0em;
    }
   }
   
   .informacao-pessoal-adicional {
    width: 100% !important;
   }
   
   .se-roles {
    background-color: #F4F4F4;
    border-radius: 8px;
   }
   
   .informacao-pessoal-outras, .se-positions {
    float: none !important;
    background-color: #F4F4F4;
    border-radius: 8px;
    margin-top: 2em;
   }
   
   .se-website-button {
    display: block;
    background-color: #F4F4F4;
    width: fit-content; 
    height: fit-content;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.5em 1em;
    margin: 1em 0em;
    font-size: medium;
    text-decoration: none !important;
   
    &:active {
       background-color: #dddada;
    }
   }
   
   .se-contact-info {
    background-color: #F4F4F4;
    border-radius: 8px;
   }
   
   :is(.se-contact-info, .se-roles, .se-positions, .informacao-pessoal-outras) {
    > h3 {
       margin: 0em !important;
       padding: 0.5em 1em;
    }
   }
   
   :is(.se-contact-info, .se-roles, .informacao-pessoal-outras) {
    .formulario-legenda {
       text-align: left !important;
    }
   }
   
   .se-container {
    display: flex;
    flex-direction: row;
   }
   
   .se-key-pair-table {
    padding: 0em 2em 1em 2em;
    width: 100%;
   
    p {
       margin: 0 !important;
    }
   
    .se-highlighted-part {
       font-weight: bold;
    }
   
    .se-content-part {
       padding-left: 0.5em;
    }
   }
   
   /* Main page Layout **/
   
   .se-main-info-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 1em;
   }
   
   .se-extra-information-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 2em;
   
    @media screen and (max-width: 480px) {
       flex-direction: column;
    }
   }