.teacherTitleBar > h1{
    
    margin: 0 !important;
    padding: 0em;
}

.teacherTitleBar > h3{
    margin: 0;
    padding-left: 1em;
}
.teacherTitleBar{
    display: flex;
    align-items: center;
}

.informacao-pessoal-dados-foto > img{
    border-radius: 8px;
}

.publicationWebsiteButton {
    background-color: #F4F4F4;
    width: fit-content; 
    height: fit-content;
    padding: 5px 10px;
    margin-bottom: 0.5em;
    border-radius: 8px;
}

.publicationWebsiteButton:active{
    background-color: #dddada;

}

.publicationWebsiteButton > img{
    display: inline-block;
    height: 20px;
}
.publicationWebsiteButton > p {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-left: 1em;

}

.informacao-pessoal-apresentacao{
    box-shadow: none !important;
    border: none !important;
    margin-left: 0 !important;
    background-color: #F4F4F4 !important;
    border-radius: 8px;
}

.informacao-pessoal-adicional{
    width: 100% !important;
}

.informacao-pessoal-apresentacao > h3{
    margin: 1em 0em;
}

.informacao-pessoal-funcoes > div:nth-child(1){
    background-color: #F4F4F4;
    border-radius: 8px;
}

.informacao-pessoal-outras{
    float: none !important;
    background-color: #F4F4F4;
    border-radius: 8px;

}

.websiteButton{
    background-color: #F4F4F4;
    width: fit-content; 
    height: fit-content;
    border-radius: 8px;

}

.websiteButton > p {
    padding: 0.5em 1em;
    font-size: medium;
}

.websiteButton:active{
    background-color: #dddada;

}