

.teacherTitleBar > h1{
    margin: 0 !important;
    padding: 0em;
}

.teacherTitleBar > h3{
    margin: 0;
    padding-left: 1em;
}
.teacherTitleBar{
    display: flex;
    align-items: center;
}


.informacao-pessoal-dados-foto{
    float: none !important;
}

.informacao-pessoal-dados-foto > img{
    border-radius: 8px;
}

.publicationWebsiteButton {
    background-color: #F4F4F4;
    width: fit-content; 
    height: fit-content;
    padding: 5px 10px;
    margin-bottom: 1em;
    border-radius: 8px;
    cursor: pointer;
}

.publicationWebsiteButton:active{
    background-color: #dddada;

}

.publicationWebsiteButton > img{
    display: inline-block;
    height: 25px;
}
.publicationWebsiteButton > p {
    display: inline-block;
    font-size: medium;
    padding: 0;
    margin: 0;
    padding-left: 1em;

}

.informacao-pessoal-apresentacao{
    margin-top: 2em;
    box-shadow: none !important;
    border: none !important;
    margin-left: 0 !important;
    background-color: #F4F4F4 !important;
    border-radius: 8px;
}

.informacao-pessoal-adicional{
    width: 100% !important;
}

.informacao-pessoal-apresentacao > h3{
    margin: 1em 0em;
}

.roles{
    background-color: #F4F4F4;
    border-radius: 8px;
}

.informacao-pessoal-outras{
    float: none !important;
    background-color: #F4F4F4;
    border-radius: 8px;
    margin-top: 2em;

}

.websiteButton{
    background-color: #F4F4F4;
    width: fit-content; 
    height: fit-content;
    border-radius: 8px;
    cursor: pointer;

}

.websiteButton > p {
    padding: 0.5em 1em;
    font-size: medium;
}

.websiteButton:active{
    background-color: #dddada;

}

.contact-info{
    background-color: #F4F4F4;
    border-radius: 8px;

}

:is(.contact-info, .roles, .informacao-pessoal-outras) > h3{
    margin: 0em !important;
    padding: 0.5em 1em;
}

:is(.contact-info, .roles, .informacao-pessoal-outras) .formulario-legenda{
    text-align: left !important;
}

.keyPairTable{
    padding: 0em 2em 1em 2em;
}

.keyPairTable p{
    margin: 0 !important;
}

.keyPairTable .highlightedPart{
    font-weight: bold;
}

.keyPairTable .contentPart{
    padding-left: 0.5em;
}

/* Main page Layout **/

.mainInfoRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 1em;

}

.extaInformationRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    margin-top: 2em;

}