@import "remixicon/fonts/remixicon.css";
@import "/src/styles/globals.css";

body {
    @apply flex h-full flex-col place-content-center place-items-center gap-2 text-white;

    background-image: url("/background.jpg");
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    animation: shrink 4s infinite alternate;

    @media (aspect-ratio < 16/9) {
        background-size: auto 100%;
    }
}

@keyframes shrink {
    0% {
        background-size: 100% auto;
    }
    100% {
        background-size: 110% auto;
    }
}

@media (aspect-ratio < 16/9) {
    @keyframes shrink {
        0% {
            background-size: auto 100%;
        }
        100% {
            background-size: auto 110%;
        }
    }
}
