.card {
    border: 1px solid #f3f3f3;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background: #f6f6f6;
    width: fit-content;
    padding: 1rem 2rem;

    > :is(h3, p) {
        margin: 0;
    }
}
