input,
select,
button {
    border-radius: 8px !important;
    border-color: #cfcfcf !important;
    box-sizing: border-box;
    padding: 0.5rem !important;
    box-shadow: 0px 0px 23px -17px rgba(0, 0, 0, 0.3);
    background: rgb(248, 248, 248) !important;
    box-shadow: none !important;
    font-weight: 500 !important;
    transition: all 0.2s ease-in-out;

    &:focus,
    &:active {
        outline-color: #dc8877 !important;
        outline-width: 5px !important;
    }
}

button:hover {
    cursor: pointer;
    background-color: #e8e8e8 !important;
}

select {
    appearance: none;
}
