.tabela {
    border-spacing: 0 !important;
    width: 100%;

    .data {
        color: rgb(112, 112, 112);
    }

    th {
        color: #676767;
        background: none;
        text-align: left;
        font-weight: 400;
    }

    th,
    td {
        padding: 0.6rem 1rem !important;
        border-bottom: 1.4px solid #f3f3f3;
        text-align: left !important;

        &:first-child {
            text-align: left;
            padding-left: 0 !important;
        }

        &:last-child {
            text-align: right !important;
            padding-right: 0 !important;
        }
    }

    > tbody > tr:is(.i, .p) {
        background: none;
    }

    i {
        font-style: normal;
    }
}
