@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    @apply h-full;
}

body {
    @apply antialiased dark:bg-bgOneDark bg-bgOne;
}

img,
picture,
video,
canvas,
svg {
    @apply block max-w-full;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply break-words;
}

input,
button,
textarea,
select {
    font: inherit;
}
