@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

html,
body,
#__next {
    @apply h-fit;
}

body {
    @apply antialiased dark:bg-bgOneDark bg-bgOne;
}

#__next {
    @apply p-2 isolate;
}

img,
picture,
video,
canvas,
svg {
    @apply block max-w-full;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply break-words;
}

input,
button,
textarea,
select {
    font: inherit;
}

.question-icon {
    display: inline-block;
    transform: scale(0.8);
    margin-right: 4px;
    vertical-align: top;
    color: grey;
}